* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #eaeded;
  height: 100vh;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  padding-top: 1.5em;
}

h3 {
  font-size: 1em;
  text-align: center;
  padding: 0 0.6em;
  width: 85%;
}

/* --------------------------- */
/* ----------------LAYOUT */
/* --------------------------- */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

#content {
  width: 80%;
}

#search-form {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  background: #131921;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
}

#searchInput {
  width: 75%;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-btn {
  width: 25%;
  text-align: center;
  background: #febd6a;
  cursor: pointer;
  margin-left: 0.25em;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#search-btn:hover,
#search-btn:focus {
  background: #fabb68cb;
}

#search-btn,
#searchInput {
  padding: 1em 2.5em;
  outline: none;
  border: none;
}

.message-waiting {
  text-align: center;
  color: #999999;
  margin: 0 auto;
  margin-top: 2rem;
}

#books-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
  justify-content: space-between;
}

.book-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  max-width: 350px;
  background: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1.5em 0;
}

.book-styling:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.book-img {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 1em 0;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  margin: 0.7em 0;
}

.book-link {
  text-decoration: none;
  text-align: center;
  background: #131921;
  color: #febd6a;
  padding: 0.6em 1.3em;
  border-radius: 5px;
  width: 80%;
  transition-duration: 0.3s;
  font-weight: 900;
}

.book-link:hover {
  color: #131921;
  background: #febd6a;
}

small {
  padding-bottom: 0.5em 0;
}

footer {
  background: #131a22;
  text-align: center;
  color: #fff;
}

footer p {
  padding: 2em 0;
}

footer a {
  color: #ff9900;
}
